<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="./assets/fonts/PPNeueMachina-PlainUltrabold.otf"
    />
    <link rel="stylesheet" href="./assets/fonts/RNSSanz-Normal.otf" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="div-nav">
        <img
          src="./assets/img/Logo_Wespawn_grand.png"
          alt="Logo" 
          class="nav-logo"
        />
        <img src="./assets/img/menu-burger.svg" alt="" class="nav-burger" />
      </div>
    </header>
    <main>
      <div class="img-main">
        <img
          src="./assets/img/logo-footer.png"
          alt="Logo"
          class="img-wespawn"
        />
      </div>

      <div class="text">
        <h4 class="title1">L’esport fait sur mesure</h4>
        <p class="main-text">
          L’écosystème qui facilite
          <b>l’organisation des<br>compétitions d’e-sport</b> pour une immersion<br>
          professionnelles de tous les joueurs.
        </p>
        <input
          type="button"
          name="btn-yellow1"
          id=""
          value="En savoir plus"
          class="btn-yellow1"
        />
        <h4 class="title2">C’est quoi ?</h4>
        <p class="main-text2">
          Conçu pour les organisateurs d’évènements<br> e-sportif, La plateforme
          <b>WESPAWN</b> vous garantie<br> une <b>aide à la gestion</b> de vos
          compétitions en<br> toute simplicité et une
          <b>visibilité assurée</b><br> auprès des joueurs.
        </p>
      </div>
      <div class="img-main2">
        <h4 class="title3">Ouverture dans</h4>
        <div class="chrono">
          <div class="chrono1">
            <p class="number-chrono">15</p>
            <p>jours</p>
          </div>
          <div class="chrono1">
            <p class="number-chrono">05</p>
            <p>heures</p>
          </div>
          <div class="chrono1">
            <p class="number-chrono">34</p>
            <p>min</p>
          </div>
          <div class="chrono1">
            <p class="number-chrono">28</p>
            <p>sec</p>
          </div>
        </div>
      </div>
      <div class="container-newsletter">
        <h4 class="title4">Abonne-toi à la Newsletter</h4>
        <input type="email" class="email" value="Adresse e-mail" />
        <input type="button" class="btn-envoyer" value="Envoyer" />
      </div>
    </main>
    <footer class="footer">
      <div class="footer-font"></div>
      <div class="containt-footer">
          <div class="direction-info-footer">
              <img src="./assets/img/logo-footer.png" class="img-footer" alt="">
              <p>Présentation</p>
              <p>En savoir plus</p>
              <p>S'abonner à la Newsletter</p>
          </div>
          <div class="footer-line"></div>
          <div class="network-footer">
              <img src="./assets/img/insta.png" alt="">
              <img src="./assets/img/twitter.png" alt="">
              <img src="./assets/img/icon-discord.png" alt="">
          </div>
          <p class="Copyright">@ Copyright 2023 | Mention légales | Tous droits réservés</p>
        </div>
  </footer>
  </body>
</html>
